//Set up our guides list
.guideItem {

    .guideItemTitle {
        margin-bottom: 0px;
    }

    .guideItemDesc {
        font-size: 10px;
        font-style: italic;
        margin: 0px;
        margin-left: 10px;
    }
}
